<section class="dashboard-wrapper">
  <header class="header">
    <h1 class="title">Dashboard</h1>
    <div class="logo"><img src="../../../assets/logo3.png"></div>
  </header>
  <div class="dashboard">
    <mat-card class="card" routerLink="/patient/profile">
      <mat-card-content>Profile</mat-card-content>
    </mat-card>
    <mat-card class="card" routerLink="/patient/appointments">
      <mat-card-content>Appointments</mat-card-content>
    </mat-card>
    <mat-card class="card" routerLink="/patient/billing">
      <mat-card-content>Billing</mat-card-content>
    </mat-card>
    <mat-card class="card" routerLink="/patient/medical-history">
      <mat-card-content>Medical History</mat-card-content>
    </mat-card>
  </div>
</section>
