<section class="patient-wrapper">
    <header class="header">
      <h1 class="title">Patient Info</h1>
      <div class="logo"><img src="../../../assets/logo3.png"></div>
    </header>
    <div class="patient">
        <div class="info">
            <!-- https://blog.angular-university.io/angular-material-data-table/ -->
            <form class="main-form" *ngIf="dataSource[0]">
            
                    <mat-form-field class="input_full_width">
                      <mat-label>First Name</mat-label>
                      <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="dataSource[0].firstName" disabled>
                    </mat-form-field>
                    <mat-form-field class="input_full_width">
                      <mat-label>Last Name</mat-label>
                      <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="dataSource[0].lastName" disabled>
                    </mat-form-field>
                    <mat-form-field class="input_full_width">
                      <mat-label>Phone Number</mat-label>
                      <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="dataSource[0].phoneNumber" >
                    </mat-form-field>
                    <mat-form-field class="input_full_width">
                      <mat-label>Email</mat-label>
                      <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="dataSource[0].email" disabled>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="!dataSource[0].phoneNumber || dataSource[0].phoneNumber.length<10 ">Submit</button>
            </form>
            
            <!-- <div *ngIf="dataSource.length == 0">
              <hr>
              Sorry, there was a problem with your data:(
            </div> -->
        </div>
    </div>
</section>
  