.login-form {
    padding-right: 35%;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    background-color: #ffffff; /*#ecc64bdd;*/
    padding: 5rem 5rem 5rem 5rem;
    align-items: center;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

mat-form-field {
    width: 18rem;
}

button {
    font-family: 'Lato';
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #04093a;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 10rem;
    background-color: #ecc64b99;
}

mat-icon.isHidden {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

div.error {
    color: red;
}

div.success {
    color: blue;
}

div.error, div.success {
    text-align: center;
    z-index: 1;
}