<main class="main-wrapper">
  <header class="header">
    <h1 class="title">Dashboard</h1>
    <div class="logo">LOGO</div>
  </header>
  <button
    class="create-new-appointment-btn"
    mat-raised-button
    (click)="onCreateNewAppointmentClick()"
  >
  Create New +
</button>
  <!-- display all elements from appointments -->
  <div *ngFor="let appointment of appointments">
      <div class="appointment">
        <div class="appointment__date">
          <div class="appointment__date__day">{{ appointment.date | date: 'dd' }}</div>
          <div class="appointment__date__month">{{ appointment.date | date: 'MMM' }}</div>
        </div>
        <div class="appointment__details">
          <div class="appointment__details__title">{{ appointment.description }}</div>
          <div class="appointment__details__time">{{ appointment.date | date: 'hh:mm a' }}</div>
        </div>
      </div>
  </div>
  <!-- <app-work-table
    *ngIf="appointments.length"
    class="work-table"
    ></app-work-table> -->
    <!-- </main> -->
</main>
