#dashboard {
  height: 100%;
  width: 100%;
  display: flex;
}
.main-wrapper {
  width: 100%;
  padding: 0 5rem;
}
.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid grey;
  margin-bottom: 5rem;
}

.title {
  text-transform: uppercase;
}

