<section class="sidenav-container">
  <div class="user-container">
    <div class="avatar-container">
      <img src="../../../assets/user.png" alt="avatar.png" />
    </div>
    <div class="email">user@mail.com</div>
  </div>

  <mat-divider></mat-divider>

  <nav>
    <mat-list role="list" class="nav-list-items">
      <mat-list-item role="listitem" class="nav-list-item selected"
        >dashboard</mat-list-item
      >
      <mat-list-item role="listitem" class="nav-list-item"
        >profile</mat-list-item
      >
      <mat-list-item role="listitem" class="nav-list-item"
        >appointments</mat-list-item
      >
      <mat-list-item role="listitem" class="nav-list-item"
        >billing</mat-list-item
      >
      <mat-list-item role="listitem" class="nav-list-item last"
        >medical history</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="nav-list-item register-cabinet"
        >register cabinet</mat-list-item
      >
      <mat-divider></mat-divider>
    </mat-list>
  </nav>

  <div class="footer">
    <mat-divider></mat-divider>
    <button mat-raised-button class="log-out-btn">logout</button>
  </div>
</section>
