<section class="sidenav-container">
  <div class="user-container">
    <div class="avatar-container">
      <img src="../../../assets/user.png" alt="avatar.png" />
    </div>
    <div class="email">{{ user.email }}</div>
  </div>

  <mat-divider></mat-divider>

  <nav>
    <mat-list role="list" class="nav-list-items">
      <mat-list-item
        role="listitem"
        class="nav-list-item"
        [routerLink]="user.role == 'Patient' ? '/patient/dashboard' : user.role == 'Doctor' ? '/doctor/dashboard' : '/admin/dashboard'"
        routerLinkActive="selected"
        >dashboard</mat-list-item
      >
      <mat-list-item
        *ngIf="user.role !== 'Admin'"
        role="listitem"
        class="nav-list-item"
        [routerLink]="user.role == 'Patient' ? '/patient/profile' : '/doctor/profile'"
        routerLinkActive="selected"
        >profile</mat-list-item
      >
      <mat-list-item
        *ngIf="user.role !== 'Admin'"
        role="listitem"
        class="nav-list-item"
        [routerLink]="user.role == 'Patient' ? '/patient/appointments' : '/doctor/appointments'"
        routerLinkActive="selected"
        >appointments</mat-list-item
      >
      <mat-list-item
        *ngIf="user.role !== 'Admin'"
        role="listitem"
        class="nav-list-item"
        routerLinkActive="selected"
        >billing</mat-list-item
      >
      <mat-list-item *ngIf="user.role === 'Patient'"
        role="listitem"
        class="nav-list-item last"
        routerLinkActive="selected"
        >medical history</mat-list-item
      >
      <mat-list-item *ngIf="user.role === 'Doctor'"
        role="listitem"
        class="nav-list-item last"
        routerLink="/doctor/patients"
        routerLinkActive="selected"
        >patients</mat-list-item
      >
      <ng-container *ngIf="user.role === 'Patient'">
        <mat-divider></mat-divider>
        <mat-list-item
          role="listitem"
          class="nav-list-item register-cabinet"
          routerLink="/patient/register-office"
          routerLinkActive="selected"
          >register office</mat-list-item
        >
        <mat-divider></mat-divider>
      </ng-container>
      <ng-container *ngIf="user.role === 'Doctor'">
        <mat-divider></mat-divider>
        <mat-list-item
          role="listitem"
          class="nav-list-item register-cabinet"
          routerLinkActive="selected"
          routerLink="/doctor/join-office"
          >join office</mat-list-item
        >
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </nav>

  <div class="footer">
    <mat-divider></mat-divider>
    <button mat-raised-button class="log-out-btn" (click)="logout()">logout</button>
  </div>
</section>
