<section class="home_view">
    <div class="menu">
        <!-- <button class="nice_menu" onclick="location.href = 'http://localhost:4200/login' " >Login</button> -->
        <button mat-button [matMenuTriggerFor]="menu" class="nice_menu">Join Us!</button>
        
        
        <mat-menu #menu="matMenu">
        <button mat-menu-item onclick="location.href = 'http://localhost:4200/login' ">Login</button>
        <button mat-menu-item onclick="location.href = 'http://localhost:4200/register' ">Register</button>
        </mat-menu> 
       
    
    </div>
    <div class="body">
        <div class="body_banner"></div>
        <div class="body_about_us_3_col">
            <div class="body_about_us_col blue">Going to the dentist every now and then is an important part of maintaining good oral health. It's easy to forget about going to the dentist when everything seems fine, but regular check-ups can help catch any issues early on and prevent them from becoming bigger problems down the line. Plus, getting your teeth cleaned professionally can help remove plaque and tartar that you may have missed while brushing and flossing at home. So don't forget to schedule your regular dental appointments - your teeth (and wallet) will thank you in the long run!</div>
            <div class="body_about_us_col white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus doloribus ut hic nulla eos debitis quos nam, omnis recusandae perferendis! Soluta amet ex fugiat assumenda sed exercitationem laudantium officia natus!</div>
            <div class="body_about_us_col blue">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate molestias dicta adipisci illo repellendus unde harum natus nesciunt similique aliquid! Quam, a saepe magnam neque iusto assumenda repellat aliquam quos.</div>
        </div>
    </div>
    
</section> 